<% @user.wines.each do |wine| %>
  <%= wine.name %><br>
  <%= wine.winery %><br>
  <%= wine.vintage %><br>
  <%= wine.origin %><br>
  <%= wine.price %><br>
  <%= wine.rating %><br>
  <%= wine.tasting_notes %><br>
  <%= wine.other_notes %>
  <br></br>
  <a href="/wines/delete">DELETE WINE</a>
  <br></br>
  <a href="/wines/<%=wine.id%>/edit">EDIT WINE</a>
  <br></br>
<% end %>
