<nav class="navbar-wines navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/wines">VINO</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href='/wines/new'>NEW ENTRY</a></li>
        <li><a href='/users/<%=current_user.slug%>'>VIEW YOUR WINES</a></li>
        <li><a href='/logout'>LOG OUT</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
 <div class="row">
   <div class="column">
     <div class="card">
       <% @user.wines.each do |wine| %>
         <h3><%= wine.name %></h3><br>
         <p><strong>Winery: </strong><%= wine.winery %><br>
            <strong>Vintage: </strong><%= wine.vintage %><br>
            <strong>Origin: </strong><%= wine.origin %><br>
            <strong>Price: </strong><%= wine.price %><br>
            <strong>Rating: </strong><%= wine.rating %><br>
            <strong>Tasting Notes: </strong><%= wine.tasting_notes %><br>
            <strong>Other Thoughts: </strong><%= wine.other_notes %>
         </p>
         <br>
         <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
           <span class="glyphicon glyphicon-pencil"></span> EDIT WINE</button>
         <br></br>
         <form method="POST" action="/wines/<%=wine.id%>/delete">
           <input id="hidden" type="hidden" name="_method" value="DELETE">
           <input type="submit" value="DELETE WINE"><br></br>
         </form>
         <div class="modal fade" id="myModal" role="dialog">
           <div class="modal-dialog">

             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4>Edit <%= wine.name %></h4>
               </div>
               <div class="modal-body">
                 <form method="POST" action="/wines/<%=wine.id%>">
                   <input id="hidden" type="hidden" method="_method" value="PATCH">
                   <div class="form-group">
                     <label for="name"></label>
                     <input type="text" class="form-control" id="name" value="<%= wine.name %>">
                   </div>
                   <div class="form-group">
                     <label for="winery"></label>
                     <input type="text" class="form-control" id="winery" value="<%= wine.winery %>">
                   </div>
                   <div class="form-group">
                     <label for="vintage"></label>
                     <input type="text" class="form-control" id="vintage" value="<%= wine.vintage %>">
                   </div>
                   <div class="form-group">
                     <label for="origin"></label>
                     <input type="text" class="form-control" id="origin" value="<%= wine.origin %>">
                   </div>
                   <div class="form-group">
                     <label for="price"></label>
                     <input type="text" class="form-control" id="price" value="<%= wine.price %>">
                   </div>
                   <div class="form-group">
                     <label for="rating"></label>
                     <input type="text" class="form-control" id="rating" value="<%= wine.rating %>">
                   </div>
                   <div class="form-group">
                     <label for="tasting_notes"></label>
                     <input type="text" class="form-control" id="tasting_notes" value="<%= wine.tasting_notes %>">
                   </div>
                   <div class="form-group">
                     <label for="other_notes"></label>
                     <input type="text" class="form-control" id="other_notes" value="<%= wine.other_notes %>">
                   </div>
                   <button type="submit" class="btn btn-block">Submit</button>
                   <input type="reset" class="btn btn-block">
                  </form>
                 </div>
                 <div class="modal-footer">
                   <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                     <span class="glyphicon glyphicon-remove"></span> Cancel</button>
                 </div>
               </div>
             </div>
           </div>
       <% end %>
       </div>
    </div>
 </div>
</div>
<div class="container-fluid"></div>
<div class="container-fluid"></div>
