<nav class="navbar-wines navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/wines">VINO</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href='/wines/new'>NEW ENTRY</a></li>
        <li><a href='/users/<%=current_user.slug%>'>VIEW YOUR WINES</a></li>
        <li><a href='/logout'>LOG OUT</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
 <div class="row">
   <div class="column">
     <div class="card">
       <% @user.wines.each do |wine| %>
         <h3><%= wine.name %></h3><br>
         <p><strong>Winery: </strong><%= wine.winery %><br>
            <strong>Vintage: </strong><%= wine.vintage %><br>
            <strong>Origin: </strong><%= wine.origin %><br>
            <strong>Price: </strong><%= wine.price %><br>
            <strong>Rating: </strong><%= wine.rating %><br>
            <strong>Tasting Notes: </strong><%= wine.tasting_notes %><br>
            <strong>Other Thoughts: </strong><%= wine.other_notes %>
         </p>
         <br>
         <a href="/wines/<%=wine.id%>/edit">EDIT WINE</a>
         <br></br>
         <form method="POST" action="/wines/<%=wine.id%>/delete">
           <input id="hidden" type="hidden" name="_method" value="DELETE">
           <input type="submit" value="DELETE WINE"><br></br>
         </form>
       <% end %>
       </div>
    </div>
 </div>
</div>
<div class="container-fluid"></div>
<div class="container-fluid"></div>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type-"button" class="close" data-dismiss="modal">&times;</button>
        <h4>Edit Wine</h4>
      </div>
      <div class="modal-body">
        <form action="/wines/<$=wine.id%>" method="POST" role="form">
          <input id="hidden" type="hidden" method="_method" value="PATCH">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter your username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" placeholder="Enter your password">
          </div>
          <button type="submit" class="btn btn-block">Submit</button>
         </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel</button>
            <p><a href='/signup'>OR SIGN UP</a></p>
        </div>
      </div>
    </div>
  </div>
