<!DOCTYPE html>
<html lang="en">
<head>
  <title>VINO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:900" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    body {
      background-color: #f7f7f7;
      font-family: 'Roboto', sans-serif;
    }
    /* Set black background color, white text and some padding */
    footer {
      background-color: #8b9dc3;
      color: white;
      padding: 15px;
    }
    .navbar {
      background-color: #3b5998;
      border: 0;
      border-radius: 0;
    }
    .nav.navbar-nav li a {
      color: white;
    }
    .nav.navbar-nav li a:hover {
      background-color: black;
    }
    .logo {
      font-family: 'Noto Sans SC', sans-serif;
      font-size: 30px;
      background-color: #3b5998;
      color: white;
      padding-top: 4px;
      margin-right: 14px;
    }
    .navbar-right:hover {
      background-color: black;
    }
    .col-sm-2 {
      background-color: #ffffff;
    }
    .col-sm-3 {
      background-color: #ffffff;
    }
    .col-sm-12 button {
      background-color: #dfe3ee;
    }
    .col-sm-12 button:hover {
      background-color: #8b9dc3;
      color: white;
    }
    .col-sm-12 form {
      margin: 20px;
      padding: 20px;
    }
    .well {
      background-color: #ffffff;
    }
    .well h4 {
      padding-bottom: 15px;
    }

  </style>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <strong><div class="logo">vino</div></strong>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/wines/new">New Wine</a></li>
          <li><a href="/users/<%=current_user.slug%>">My Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container text-center">
    <div class="row">
      <div class="col-sm-3 well">
        <div class="well">
          <h4><%= @user.name %>'s Vino</h4>
          <img src="https://picsum.photos/65/65/?random" class="img-circle" alt="Avatar">
        </div>
        <div class="alert alert-success fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          <p><strong>Edit Your Wine!</strong></p>
          Fill out the form to the right to edit this entry.
        </div>
        <h4>Learn More!</h4>
        <p><a href="https://winefolly.com/" target="_blank">Wine Folly</a></p>
        <p><a href="https://www.winespectator.com/" target="_blank">Wine Spectator</a></p>
        <p><a href="https://en.wikipedia.org/wiki/Wine" target="_blank">Wikipedia</a></p>
      </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p contenteditable="true">What's in your brain, <%= current_user.name %>?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
        <form action="/wines/<%=@wine.id%>" method="POST">
          <input type="hidden" name="_method" value="PATCH">
          <h2>Edit <%=@wine.name%></h2>
          <br></br>
          <div class="form-group">
            <label>Name: </label><input id="textbox" type="text" name="name" class="form-control" value="<%=@wine.name%>">
          </div>
          <div class="form-group">
            <label>Winery: </label><input id="textbox" type="text" name="winery" class="form-control" value="<%=@wine.winery%>">
          </div>
          <div class="form-group">
            <label>Vintage: </label><input id="textbox" type="text" name="vintage" class="form-control" value="<%=@wine.vintage%>">
          </div>
          <div class="form-group">
            <label>Origin: </label><input id="textbox" type="text" name="origin" class="form-control" value="<%=@wine.origin%>">
          </div>
          <div class="form-group">
            <label>Price: </label><input id="textbox" type="text" name="price" class="form-control" value="<%=@wine.price%>">
          </div>
          <div class="form-group">
            <label>Rating: </label><input id="textbox" type="text" name="rating" class="form-control" value="<%=@wine.rating%>">
          </div>
          <div class="form-group">
            <label>Tasting Notes: </label><textarea name="tasting_notes" class="form-control"><%=@wine.tasting_notes%></textarea>
          </div>
          <div class="form-group">
            <label>Other Thoughts: </label><textarea name="other_notes" class="form-control"><%=@wine.other_notes%></textarea>
          </div>
          <button type="submit" class="btn btn-block">Submit</button>
          <button type="reset" class="btn btn-block">Reset</button>
          <br></br>
        </form>
        </div>
      </div>
    </div>

    </div>
    <div class="col-sm-2 well">
      <div class="thumbnail">
        <p>Upcoming Events:</p>
        <img src="https://picsum.photos/400/?random" alt="Avatar">
        <p><strong>Paris</strong></p>
        <p>Fri. 27 November 2015</p>
        <button class="btn btn-primary">Info</button>
      </div>
      <div class="well">
        <p>Sponsored</p>
        <div class="thumbnail">
        <a href="#" data-toggle="modal" data-target="#advertModalOne"><img src="images/wine_ad_1.png" alt="Thierry and Guy wine ad"></a>
      </div>
      <p>Thierry and Guy</p>
      </div>
      <div class="well">
        <p>Sponsored</p>
        <div class="thumbnail">
        <a href="#" data-toggle="modal" data-target="#advertModalTwo"><img src="images/wine_ad_2.png" alt="Scavi and Ray Prosecco"></a>
      </div>
      <p>London Fashion Week</p>
      </div>
    </div>
  </div>
  </div>
  <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <iframe src="https://giphy.com/embed/3d8mZpR1z4NFy6gIBA" width="480" height="416" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/facebook-terminator-zuckerberg-3d8mZpR1z4NFy6gIBA">via GIPHY</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
  <div id="advertModalOne" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img src="images/wine_ad_1.png" alt="Thierry and Guy wine ad">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
  <div id="advertModalTwo" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img src="images/wine_ad_2.png" alt="Scavi and Ray Prosecco">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>

</body>
</html>
