













<ol>
  <li>
    Name: <%= @wine.name %><br>
    Winery: <%= @wine.winery %><br>
    Vintage: <%= @wine.vintage %><br>
    Origin: <%= @wine.origin %><br>
    Price: <%= @wine.price %><br>
    Rating: <%= @wine.rating %><br>
    Tasting Notes: <%= @wine.tasting_notes %><br>
    Other Thoughts: <%= @wine.other_notes %><br>
  </li>
</ol>

<form method="POST" action="/wines/<%=@wine.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="DELETE WINE">
</form>
  <br></br>
<a href="/wines/<%=@wine.id%>/edit">EDIT WINE</a>
  <br></br>
<a href="/wines">BACK TO MAIN WINE LIST</a>
