<ol>
  <li>
    <%= @wine.name %><br>
    <%= @wine.winery %><br>
    <%= @wine.vintage %><br>
    <%= @wine.origin %><br>
    <%= @wine.price %><br>
    <%= @wine.rating %><br>
    <%= @wine.tasting_notes %><br>
    <%= @wine.other_notes %><br>
  </li>
</ol>
