<nav class="navbar-wines navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/wines">VINO</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href='/wines/new'>NEW ENTRY</a></li>
        <li><a href='/users/<%=current_user.slug%>'>VIEW YOUR WINES</a></li>
        <li><a href='/logout'>LOG OUT</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
 <div class="row">
   <% @wines.each do |wine| %>
     <div class="column">
       <div class="card">
         <h3><a href='wines/<%=wine.id%>'><%= wine.name %></a></h3>
         <p><strong>Origin: </strong><%= wine.origin %><br>
           <strong>Winery: </strong><%= wine.winery %><br>
           <strong>Vintage: </strong><%= wine.vintage %><br>
           <strong>Tasting Notes: </strong><%= wine.tasting_notes %></p>
       </div>
     </div>
   <% end %>
 </div>
</div>
<div class="container-fluid"></div>
<div class="container-fluid"></div>
