<% @wines.each do |wine| %>
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <h4><%= wine.name %></h4><br>
        <p><strong>Winery: </strong><%= wine.winery %><br>
           <strong>Vintage: </strong><%= wine.vintage %><br>
           <strong>Origin: </strong><%= wine.origin %><br>
           <strong>Price: </strong><%= wine.price %><br>
           <strong>Rating: </strong><%= wine.rating %><br>
           <strong>Tasting Notes: </strong><%= wine.tasting_notes %><br>
           <strong>Other Thoughts: </strong><%= wine.other_notes %>
        </p>
          <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-thumbs-up"></span> Like
          </button>
        </div>
      </div>
    </div>
  <% end %>
</div>
